<!DOCTYPE html>
<html>
    <body>
        <form action="updategraph/" method="post">
            {% csrf_token %}

            <label for="schools">School: </label>
            <select name="schools" id="schools">
                {% for x in schools %}
                <option value="{{x}}">{{x}}</option>
                {% endfor %}
            </select>

            <label for="subjects">Subject: </label>
            <select name="subjects" id="subjects">
                {% for x in subjects %}
                <option value="{{x}}">{{x}}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Submit">
        </form>
        <div>{{graph_div|safe}}</div>
    </body>
</html>